@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 5rem;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
    color: inherit;
}

ul
{
    list-style-type: none;
}

p
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}



#nav
{
    display: flex;
    gap: 3.75rem;
    align-items: center;
}

.header ul
{
    display: flex;
    gap: 2rem;
}

#active
{
    padding: 4px 7px;
    border-radius: 5px;
    background-color: #0A0204;
    color: white;
}

.header ul li a
{
    padding: 4px 7px;
}

.header ul li a:hover
{
    padding: 4px 7px;
    border-radius: 5px;
    background-color: #0A0204;
    color: white;
}

.bouton
{
    font-family: 'oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 4px 7px;
    border-radius: 5px;
    background-color: #0A0204;
    color: white;
}




.top
{
    display: flex;
}

.left
{
    height: 80vh;
    width:40%;
}

.right
{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 60%;
    overflow: hidden;
    align-items: center;
}

h1
{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 60px;
    margin: 0;
    padding: 5rem 1rem 0.5rem 1rem ;
}

.right p
{
    text-align: center;
    margin: 0;
    padding: 20px 70px 30px 70px;
}

#rectangle
{
    margin: 2rem 0px 20px 45rem;
}



.ticket
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blueviolet;
}

#video
{
    height: 490px;
    width: 871px;
    background-color: black;
}




.caroussel
{
    height: 100vh;
    background-color: green;
}